@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
  overflow: hidden;
}

.file-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
