@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
  overflow: hidden;
}

/* .file-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
} */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #06dcff;
  border-radius: 10rem;
}
.react-select__control {
  @apply bg-red-500;
}
